.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
          
  }
  
  .h1 {
    text-align: center;
    font-size: smaller;

  }
  .button {
    text-align:center;
    
    

  }
  .kutu {
      width: 300px;
      height: 12px;
    
  }
  .search {
    background-color: aqua; 
    height: 130px;
    width: 39%;
    float: left;
    list-style-type: none;
    margin: auto;
    text-align:center;
    margin-right: 0.2%;
    
    
       
  }
  
  .help {
    background-color: rgb(41, 158, 158); 
    height: 130px;
    width: 21%;
    float: left;
    list-style-type: none; 
    margin: auto;
    text-align:center;
    
  }

  .email {
    background-color: rgb(3, 95, 65);
    height: 130px;
    width: 39.5%;
    list-style-type: none;
    float: right;
    margin-left: 0.2%;
    text-align:center;
    
  }
  
  .margin {
    margin: 2px;
  }

  